/* Login.module.css */
.Container {}

.formRight {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.addMovie {}

.AddMovieForm {}



.formTitle Label {
    font-size: 16px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {}

.hero__left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {}